{% extends 'base.html.twig' %} 
{% block title %} - {{reference.title}} {% endblock %} {%
    block body %}
    <section id="show" class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 mx-auto">
                <div class="card">
                    <img src="{{ reference.image }}" class="card-img-top" alt="{{reference.title}}" />
                    <div class="card-body">
                        <h5 class="card-title">{{ reference.title }}</h5>
                        <p class="card-text">
                            {{ reference.description }}
                        </p>
                            {% for color in reference.colors %}
                                <ul>
                                    <li>{{color.name}}</li>
                                </ul>
                            {% endfor %}

                        <form>
                            <select name="size" id="js-select-size" class="form-select my-3">
                                <option>Choisissez votre taille</option>
                                {% for size in reference.sizes %}
                                <option value="{{size.id}}">{{size.name}}</option>
                                {% endfor %}
                            </select>

                            <div id="display-colors"></div>
                            <div class="my-3">
                                <label for="qty" class="form-label">Quantité souhaitée</label>
                                <input type="number" name="qty" class="form-control" id="qty" value="1">
                            </div>
                            <button type="button" id="js-add-to-cart" class="btn btn-sm btn-dark d-none">Add to cart</button>
                        </form>
                       
                        <p>{{reference.price.amount}} $</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}
    {% block javascripts %}
    <script>
        const ref_id = JSON.parse('{{ reference.id | json_encode()}}');
        handleAddToCart(ref_id);
    </script>
    {% endblock %}